<h1> Dear <%= @questions_author.user_name %> </h1>

<p> User <%= link_to @answer.user.user_name, user_url(@answer.user) %>, has just  answered yours <%= link_to "question", question_url(@answer.question) %>. </p>