.answer {
  .details {
    font-size: smaller;
    color: #999;

    a {
      color: #999;
    }
  }

  .likes {
    color: blue;
    font-weight: bold;
    font-style: italic;
  }

  img.accepted-answer {
    height: 50px;
    width: 50px;
    display: block;
  }

  margin-bottom: 10px;
}

