.answer {
  .details {
    font-size: smaller;
    color: #999;

    a {
      color: #999;
    }
  }

  .likes {
    color: blue;
    font-weight: bold;
    font-style: italic;
  }

  margin-bottom: 10px;
}

