.row {
  .user-avatar {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-right: 10px;
    display: inline-block;
  }
  .user-name {
    display: inline-block;
    margin-right: 10px;
  }
  .superstar-badge {
    display: inline-block;
  }
  
}